gunicorn~=20.1.0
Flask~=2.0.3
Flask-Cors~=3.0.10
flask-restx~=0.5.1
Werkzeug~=2.0.3
jinja2~=3.0.3
markupsafe~=2.1.1
PyYAML~=5.4.1
python-consul~=1.1.0
urllib3~=1.26.5
hvac~=0.11.2
psycopg2-binary~=2.9.3
msxswagger @ git+https://github.com/CiscoDevNet/python-msx-swagger@v0.7.0
